.about {
    padding-top: 120px;
    position: relative;
    &__wrap {
        display: flex;
        justify-content: space-between;
        @include title;
        &__content {
            width: 577px;
            &__text {
                font-size: 18px;
                font-weight: 400;
                @include blue-text;
                &:not(:first-child) {
                    margin-top: 38px;
                }
            }
        }
    }
}